/**
font-family: 'Rubik', sans-serif;
**/
*{
    font-family: 'Rubik', sans-serif;
}


.wrapper{
    width: 100%;
}
.offcanvas-start{
    width: 381px;
    
}
.offcanvas{
    border-right: 5px solid red;
}
.nav .nav-item .nav-link:focus {
    background: #0A1436;
}
.nav .nav-item .nav-link{
    background: #ffffff;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 30px;
}
.nav .nav-item a span{
    margin-right: 10px;
}
.nav .nav-item a span svg{
    
    stroke: red;
}

.active:focus{
    background: #0A1436;
} 
button.no-outline {
    border: none;
    background: transparent;
    position: absolute;
    top: 70px;
} 